<table class="ui celled table">
    <tr>
        <th align="center">BSSID</th>
        <th align="center">상태</th>
        <th align="center">타입</th>
        <th align="center">SSID</th>
        <th align="center">RSS</th>
    </tr>
    </thead>
    <tbody>
    {{#each items}}
        <tr>
            <td align="center"><a href="{{bssid}}">{{bssid_str}}</a></td>
            <td align="center">{{active_str}}</td>
            <td align="center">{{type_str}}</td>
            <td align="center">{{ssid}}</td>
            <td align="center">{{rss}}</td>
        </tr>
    {{/each}}
    </tbody>
    <tfoot>
    <tr>
        <th>
            <div class="ui right floated pagination menu">
                <a class="icon item">
                    <i class="left chevron icon"></i>
                </a>
                <a class="item">1</a>
                <a class="item">2</a>
                <a class="item">3</a>
                <a class="item">4</a>
                <a class="icon item">
                    <i class="right chevron icon"></i>
                </a>
            </div>
        </th>
    </tr>
    </tfoot>
</table>
