<div class="header ">
    센서 정보
    <div class="ui middle aligned right floated button">새로고침</div>
</div>
<div class="content">
    <div class="description">
        <div class="ui equal width form">
            <div class="fields">
                <div class="inline field"><label>이름</label><label>{{name}}</label></div>
                <div class="inline field"><label>IP</label><label>{{ip}}</label></div>
                <div class="inline field"><label>MAC</label><label>{{mac_str}}</label></div>
            </div>
            <div class="fields">
                <div class="inline field"><label>지도</label><label>{{map_str}}</label></div>
                <div class="inline field"><label>상태</label><label>{{status_str}}</label></div>
                <div class="inline field"><label>포트</label><label>{{port}}</label></div>
            </div>
            <div class="fields">
                <div class="inline field"><label>모드</label><label>{{mode}}</label></div>
                <div class="inline field"><label>모델</label><label>{{model}}</label></div>
                <div class="inline field"><label>등록시간</label><label>{{reg_type}}</label></div>
            </div>
            <div class="fields">
                <div class="field"><label>펌웨어버전</label><input type="text" /></div>
                <div class="field"><label>모듈버전</label><input type="text" /></div>
                <div class="field"><label>펌웨어업데이트날짜</label><input type="text" /></div>
            </div>
        </div>
    </div>
</div>
<div class="actions">
    <div class="ui cancel button" style="font-size: 10px">닫기</div>
</div>